* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: x-large;
}

#navigation {
	background-color: #efefef;
	padding: 5px;
}

#content {
	margin: 1em auto;
	width: 270px;
	border: 1px solid #efefef;
	padding: 10px;
}

#content table {
	text-align: left;
}